<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>

<body>
<div >
    <h1 style="color: blue; text-align: center;">Login de Usuario</h1>
    <h3 style="text-align: center;"> Ingrese un Usuario</h3>
    <form style="text-align: center;">     
     <label style=>Usuario</label>
        <input style="border-radius: .5rem; width: 50%; height: 30px;" type="text" placeholder="Ingrese un Nombre">
        <input style="background-color: blue; color: white; padding: 10px; border-radius: .5rem;" type="submit" value="Enviar">  
    </form>

</div>

<% if(mensaje === true){ %> 
    return mensaje
<% } %> 
    


</body>

</html>